@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Witaj</h1>
        <a asp-controller="CurrencyRate" formmethod="get" asp-action="CurrenciesRatesList">Sprawdź Kursy walut!</a>

    </div>
